<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao Site da API</title>
    <link rel="stylesheet" href="/css/index.css">

</head>
<body>
<div class="container">
    <h1>Bem-vindo ao Site da API</h1>
    <p>Esta é a página de entrada para a nossa API. Explore nossos serviços e comece a construir aplicações incríveis!</p>
    <p>Confira nossa <a href="#">documentação</a> para obter mais informações.</p>
</div>
</body>
</html>
</title>
</head>
<body>

</body>
</html>